<div class="home-module-wrapper home-convinced">
    <div class="home-convinced-image">
      	<h2>Convinced yet?</h2>
      	<p>Maybe it's time you pre-ordered.</p>
      	<span class="convinced-pre-order-btn clicked-preorder">PRE-ORDER NOW</span>
      	<h6>Starts shipping in Q1 2016</h6>
    </div>
</div>