<div class="home-module-wrapper home-image-gallery">    
    <div class="home-image-gallery-image">
      	<div class="left">
      		<img src="{{ 'image_gallery1.png' | asset_url }}" class="image-w100" />
          	<img src="{{ 'image_gallery2.png' | asset_url }}" class="image-w100" />
          	<img src="{{ 'image_gallery3.png' | asset_url }}" class="image-w100" />
      	</div>
      	<div class="right">
      		<img src="{{ 'image_gallery4.png' | asset_url }}" class="image-w100"  />
      	</div>
    </div>  
</div>