<div class="home-module-wrapper home-center-ngo">    
 <div class="home-left-right-feature">
   <div class="centergo-text">
        <h2>KEYLESS</h2>
        <p>Skylock connects to your phone so you <br/>never have to worry about losing a key.</p>
      
    </div>  
    <div class="centergo-image">
      <img src="{{ 'NGo.png' | asset_url }}">
    </div>
    
 </div>
 <div class="home-left-right-feature special">  
   <div class="centergo-text upper">
        <h2>UP TO 50m RANGE</h2>
        <p>Skylock’s custom antenna means your<br/> 
bluetooth signal will stay connected<br/> 
when it matters most.<br/> 
          <a href="#">Learn more about the Skylock antenna design ></a></p>
      
    </div>  
   <div class="centergo-image">
      <img src="{{ 'signal.png' | asset_url }}">
    </div>
    <div class="centergo-text bottom">
        <h2>SECURITY </h2>
        <p>Skylock uses 256-Bit ECC , the same authentication<br/>
 that BitCoin uses, to protect your bike.<br/>  
          <a href="#">Learn more about public/private key encryption ></a></p>
      
    </div>  
 </div> 
</div>