<div class="home-module-wrapper home-keyless">
    <div class="home-keyless-image">
      <img src="{{ 'keyless.png' | asset_url }}" class="image-mobile" />
      <div class="image-left">
        <span class="icon"><img src="{{ 'icon_keyless.png' | asset_url }}" /></span>
        <div class="div-text">
        	<h2>Keyless</h2>
        	<p>Skylock connects to your phone so you never have to worry about losing a key.</p>
        </div>
      </div>
    </div>
</div>
