<div class="home-module-wrapper contrast ">
  <div class="home-left-right-features">             
    <div class="fix-for-first-child">
     <div class="home-left-right-feature clearfix media-aligned-right unlock">      
      <div class="home-left-right-text">        
          <h3>TAP TO UNLOCK</h3>
          <div class="rte">
            Skylock has a capacitive touch interface
  to unlock your bike in case your phone dies.

  A clever use of LEDs provides visual 
  feedbackwhen you need it most.          
          </div>
      </div>
        <div class="home-left-right-media">          
            <img src="{{ 'home-left-right-image-1.png' | asset_url }}" alt="TAP TO UNLOCK">          
        </div>      
    </div>    
    <div class="home-left-right-feature clearfix media-aligned-left usb">      
        <div class="home-left-right-media">          
            <img src="{{ 'home-left-right-image-2.png' | asset_url }}" alt="SOLAR POWER + USB">          
        </div>      
      <div class="home-left-right-text">        
          <h3>SOLAR POWER + USB</h3>        
        <div class="rte">
          Skylock has a built-in solar panel that recharges the 
battery. This means you can spend more time 
riding your bike and less time worrying about your lock. 
An hour of sunlight will provide enough power for a week,
and in case you need a rapid charge, plug it into USB.          
        </div>
      </div>      
    </div>         
    </div>
  </div>
</div>