<div class="home-module-wrapper home-theft-alert">    
    <div class="home-theftalert-image">
      <img src="{{ 'theftalert.png' | asset_url }}" class="image-mobile" />
      <div class="image-left">
        <span class="icon"><img src="{{ 'icon_theft.png' | asset_url }}" /></span>
        <div class="div-text">
        	<h2>Theft Alert</h2>
        	<p>Skylock uses its built-in accelerometer to detect theft threats. When your bike is being tampered with, Skylock will detect the motion and send you an alert.</p>
        </div>
      </div>
    </div>  
</div>