<div class="home-module-wrapper home-share-access">    
    <div class="home-shareaccess-image">
      <div class="image-left">
        <span class="icon"><img src="{{ 'icon_share.png' | asset_url }}" /></span>
        <div class="div-text">
        	<h2>Share Access</h2>
        	<p>Skylock lets you share access to your bike with anyone in your trusted network. With Skylock you can create and set up your own bike share system.</p>
        </div>
      </div>
      <img src="{{ 'shareaccess.png' | asset_url }}" class="image-mobile" />
    </div>  
</div>