<div class="home-module-wrapper home-tech-specifications">    
    <div class="home-tech-specifications-image">
      	<h2>Technical Specifications</h2>
      	<div class="left">
      		<img src="{{ 'image_techlock.png' | asset_url }}" class="speci-image" />
      	</div>
      	<div class="right">
      		<ul id="techspecs-column1" class="spec-ul">
                <li class="techspec heading">Skylock</li>
                <li class="techspec">3-axis accelerometer</li>
                <li class="techspec">LED indicators</li>
                <li class="techspec">Capacitive touch interface</li>
                <li class="techspec">Active motor control</li>
                <li class="techspec">Shackle insertion detection</li>
                <li class="techspec">Weather resistant</li>
                <li class="techspec">Shockproof and ruggedized</li>
                <li class="techspec">Hardened steel shackle</li>
                <li class="techspec">Hardened steel housing</li>
                <li class="techspec">Impact resistant rubber shell</li>
                <li class="techspec">External Dimensions: 8.6”/218mm W x 5.7”/145mm H</li>
              	<li class="techspec">Internal Dimensions: 4.5”/114mm W x 6.5”/165mm H</li>
                <li class="techspec">Weight: 2.5 lbs/1.15 kg</li>
            </ul>
            <ul id="techspecs-column2" class="spec-ul">
                <li class="techspec heading">Wireless</li>
                <li class="techspec">Bluetooth Low Energy </li>
                <li class="techspec">External antenna</li>

                <li class="techspec heading">Power & Battery</li>
                <li class="techspec">Built-in rechargeable battery </li>
                <li class="techspec">Flexible Solar Panel</li>
                <li class="techspec">USB charging</li>

                <li class="techspec heading">Software Compatiblity</li>
                <li class="techspec">Apple iOS 6.1 or greater</li>
                <li class="techspec">Android 4.0.3 or greater
            </ul>
      	</div>
    </div>  
</div>