<div class="home-module-wrapper home-simple-touse">
    <div class="home-simple-touse-image">
      	<h2>Simple to use.</h2>
      	<div class="text-left">
          	<div class="block-one">
              	<h3>Auto Lock</h3>
              	<p>Skylock makes locking easy. Just snap the shackle into the lockbar and walk away. Skylock locks AUTOMATICALLY.</p>
          	</div>
          	<div class="block-two">
              	<h3>Tough to Break</h3>
              	<p>Skylock has a steel housing, a durable rubber cover, and is designed to be extremely robust. Skylock also uses 256-bit elliptic-curve cryptography to keep your bike safe.</p>
          	</div>
      	</div>
      	<img src="{{ 'image_simplelock.png' | asset_url }}" class="image-lock" />
      	<div class="text-right">
      		<div class="block-one">
              	<h3>Wireless Range</h3>
              	<p>Skylock's custom antenna means your bluetooth signal will stay connected when it matters most. Approximately 200 meters or 656 feet in range.</p>
          	</div>
          	<div class="block-two">
              	<h3>Tap to Unlock</h3>
              	<p>Skylock has a capacitive touch interface to unlock your bike in case your phone dies. A clever use of LEDs provides visual feedback when you need it most.</p>
          	</div>
      	</div>
      	<div class="text-bottom">
      		<div class="block-bottom">
              	<h3>Solar Power</h3>
              	<p>Built-in solar panel that recharges the battery. 12 hours of sunlight will provide enough power for 6 months.</p>
          	</div>
      	</div>
      <h6 align="center"><span style="color: #e74c3c;"> Offer ends 12/01/2015</span></h6>
      	<span class="simple-touse-pre-order-btn clicked-preorder">PRE-ORDER NOW AT 35% OFF</span>
    </div>
</div>