<div class="home-module-wrapper home-cash-alert">    
    <div class="home-cashalert-image">
      <div class="image-left">
        <span class="icon"><img src="{{ 'icon_crash.png' | asset_url }}" /></span>
        <div class="div-text">
        	<h2>Crash Alert</h2>
        	<p>Skylock can detect many types of serious crashes using its built-in accelerometer. The Skylock app can notify anyone in your trusted network.</p>
        </div>
      </div>
      <img src="{{ 'cashalert.png' | asset_url }}" class="image-mobile" />
    </div>  
</div>