<div class="home-module-wrapper home-skylock-mount">    
    <div class="home-skylock-mount-image">
      	<div class="left-block">
      		<h2>Skylock Mount</h2>
      		<p>Download the Skylock mount and 3d print it at home. Customize it to fit your needs.</p>
      	</div>
      	<div class="mount-img"><a href="http://www.thingiverse.com/thing:951728" target="_blank"><img src="{{ 'icon_mount.png' | asset_url }}" class="mount-image" /></a></div>
    </div>  
</div>